html, body {
    margin: 0;
    padding: 0;
    background: #0d6100;
    color: #dad4f9;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px auto;
    background: radial-gradient(#6cffdf, #05cea6);
    border-radius: 15px;
    padding: 0px 20px;
    border: 2px solid black;
    
}
#sign-up-d {
    margin-bottom: 0px;
}
#sign-in-d {
    margin: 10px auto;
}
#sign-out-d {
    margin-top: 0px;
}
h1 {
    margin: 15px;
    text-align: center;
    text-shadow: 0 0 2.5px black;
}
h2 {
    margin: 10px;
    text-align: center;
    text-shadow: 0 0 2.5px black;
    font-weight: bolder;
}
.log-btn {
    background-color: #05cc6f ;
    color: #dad4f9;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}
input {
    color: #0e0a27;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 1px 0;
}
button {
    color: #FDFDFD;
    background-color: #00ab97;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    border: 2px solid black;
}
button:hover {
    background-color: #00b938;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
ul li {
    font-size: 20px;
    color: #0e0a27;
    background-color: #bcff14;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
ul li:hover {
    background-color: #F9879E;
    cursor: pointer;
}
#input-field {
    margin-bottom: 8px;
}
.log-btn:hover {
    background-color: #f10030;
    cursor: pointer;
}
#imgh {
    width: 250px;
    height: 141px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    outline: 10px double #bcff14;
    outline-offset: 15px;
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

#spc {
    background: radial-gradient(#6cffdf, #05cea6);
}