html, body {
    margin: 0;
    padding: 0;
    background: #a100f2;
    color: #dad4f9;
    user-select: none;
    text-shadow: 0 0 5px black;

}
.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10px auto;
    background: #6a00f4;
    border-radius: 15px;
    padding: 0px 20px;
}
#sign-up-d {
    margin-bottom: 0px;
}
#sign-in-d {
    margin: 10px auto;
}
#sign-out-d {
    margin-top: 0px;
}
h1 {
    margin: 15px;
    text-align: center;
}
.log-btn {
    background-color: #a100f2 ;
    color: #dad4f9;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}
input {
    color: #0e0a27;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 1px 0;
}
button {
    color: #FDFDFD;
    background-color: #00ab97;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
button:hover {
    background-color: #00b938;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
ul li {
    font-size: 20px;
    color: #0e0a27;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}
ul li:hover {
    background-color: #F9879E;
    cursor: pointer;
}
#input-field {
    margin-bottom: 8px;
}
.log-btn:hover {
    background-color: #f10030;
    cursor: pointer;
}